<%= turbo_frame_tag "chatroom_content" do %>
  <div class="chat">
    <h3>Chat avec <%= @chatroom.other_user(current_user).first_name %></h3>
    <%= turbo_stream_from [@chatroom, current_user, "messages"] %>
    <div id="messages" class="messages">
      <% @chatroom.messages.each do |message| %>
        <%= render "messages/message", message: message, user: current_user %>
      <% end %>
    </div>

    <div class="message-form bg-white sticky-bottom">
      <%= simple_form_for [@chatroom, @message],
          html: {class: "d-flex w-100"},
          data: { turbo_stream: true,
                 controller: "reset-form",
                 action: "turbo:submit-end->reset-form#reset" } do |f| %>
        <%= f.input :content,
          label: false,
          placeholder: "Écrivez un message...",
          wrapper_html: {class: "flex-grow-1"}
        %>
        <%= f.button :submit, "Envoyer", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
<% end %>
