<header>
  <div class="ban">
      <div class="align">
        <%= link_to "#", class: "round_green" do %>
        <% end %>
        <h1>En route vers le temps partiel!</h1>
      </div>

      <div class="align">
        <div class="round_green settings">
        <i img></i>
        </div>

        <div class="round_green search">
        </div>
      </div>
  </div>
  <nav class="d-flex rounded">
    <%= link_to "#", class: "" do %>
      <h3>Mon profil</h3>
    <% end %>

    <%= link_to "#", class: "" do %>
      <h3>Mes favoris</h3>
    <% end %>

    <%= link_to "#", class: "" do %>
      <h3>Mes recherches</h3>
    <% end %>

    <%= link_to "#", class: "" do %>
      <h3>Messages</h3>
    <% end %>
  </nav>
</header>
