<div class="tabs-background">
  <div>
    <h1 class="tabs-titles">En route vers le temps partiel </h1>
    <%# <h2 class="tabs-sub-titles">Mon tableau de bord</h2> %>
  </div>

  <div class="tabs-with-pics">

    <%#= action_name %>
    <%#= controller_name %>
    <ul class="nav nav-tabs flex-item">
      <li class="nav-item">
        <%= link_to "Mes recherches", dashboard_searches_path, class: "nav-link #{'active' if action_name == 'dashboard_searches'}" %>
      </li>
      <li class="nav-item">
        <%= link_to "Carnet d'adresses", dashboard_favorites_path, class: "nav-link #{'active' if action_name == 'dashboard_favorites'}" %>
      </li>
      <li class="nav-item" data-notifications-sms={}>
        <%= link_to "Messages", dashboard_chatrooms_path, class: "nav-link #{'active' if action_name == 'dashboard_chatrooms'}" %>
      </li>
      <li class="nav-item">
        <%= link_to "Mon profil", dashboard_profile_path, class: "nav-link #{'active' if action_name == 'dashboard_profile'}" %>
      </li>
    </ul>

    <div class="tabs-buttons">
      <%= button_to init_searches_path, method: :get, class: "round-cta" do %>
        <i class="fa-solid fa-plus"></i>
      <% end %>
      <%= button_to dashboard_searches_path, method: :get, class: "round-cta" do %>
        <i class="fa-solid fa-gear"></i>
      <% end %>
    </div>

  </div>

</div>
