<div class="tabs-background">
  <div>
    <h1>En route vers le temps partiel </h1>
    <h2>Mon tableau de bord</h2>
  </div>

  <div class="d-flex flex-row justify-content-between">

    <%#= action_name %>
    <%#= controller_name %>

    <ul class="nav nav-tabs flex-item">
      <li class="nav-item">
        <%= link_to "Mes recherches", dashboard_searches_path, class: "nav-link #{'active' if action_name == 'dashboard_searches'}" %>
      </li>
      <li class="nav-item">
        <%= link_to "Carnet d'adresse", dashboard_favorites_path, class: "nav-link #{'active' if action_name == 'dashboard_favorites'}" %>
      </li>
      <li class="nav-item">
        <%= link_to "Messages", dashboard_searches_path, class: "nav-link #{'active' if action_name == 'dashboard_messages'}" %>
      </li>
      <li class="nav-item">
        <%= link_to "Mon profil", dashboard_profile_path, class: "nav-link #{'active' if action_name == 'dashboard_profile'}" %>
      </li>
    </ul>

    <div class="flex-item d-flex flex-row">
      <%= button_to new_search_path, method: :get, class: "btn btn-primary round-button flex-item" do %>
        <i class="fa-solid fa-plus"></i>
      <% end %>
      <%= button_to dashboard_searches_path, method: :get, class: "btn btn-primary round-button flex-item" do %>
        <i class="fa-solid fa-gear"></i>
      <% end %>
    </div>

  </div>

</div>

