<div class="dashboard-container">
  <div><%= render "tabs" %></div>

  <% if @favorites.any? %>
    <div class="matching-profiles">
      <% @favorites.each do |favorite| %>
        <% @favorite_user = User.find(favorite.user_2_id) %>
          <div class="profile-card">
            <div class="content-profile">
              <div class="profile-subcard">
                <div class="profile-info">
                  <% if @favorite_user.photo.attached? %>
                    <%= cl_image_tag @favorite_user.photo.key, crop: :fill, class: "avatar" %>
                  <% else %>
                    <%= image_tag "default-user.svg", crop: :fill, alt: "default-profile-photo"%>
                  <% end %>
                  <div class="profile-icons-box">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newChatroomModal">
                      <i class="fa-regular fa-message"></i>
                    </button>
                    <% if current_user.favorites.exists?(user_2_id: @favorite_user.id) %>
                      <!-- Si l'utilisateur a déjà favorisé ce profil, on affiche l'étoile pleine -->
                      <%= button_to favorites_path(user_2_id: @favorite_user.id), method: :post, data: {turbo: false} do %>
                      <i class="fa-solid fa-star text-warning"></i>
                      <!-- L'étoile pleine si déjà favori -->
                      <% end %>
                    <% else %>
                      <!-- Si l'utilisateur n'a pas encore favorisé ce profil, on affiche l'étoile vide -->
                      <%= button_to favorites_path(user_2_id: @favorite_user.id), method: :post, data: {turbo: false} do%>
                      <i class="fa-regular fa-star"></i>
                      <!-- L'étoile vide si non favori -->
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <div class="name-and-mail">
                  <h3 class="profile-name"><%= @favorite_user.first_name %> <%= @favorite_user.last_name %></h3>
                  <div class="mail-and-pic">
                    <div>
                      <i class="fas fa-envelope"></i>
                    </div>
                    <div>
                      <p class="profile-email">
                      <% if @favorite_user.email.length > 20 %>
                        <% regex_after_arobase = /@.*$/%>
                        <% if @favorite_user.email.match(regex_after_arobase)[0].length > 12%>
                          <% regex_twelve_letters = /.{15}/%>
                          <% twelve_letters = @favorite_user.email.match(regex_twelve_letters)[0] %>
                          <%= twelve_letters%>...
                        <% else%>
                          <%first_letter_email = /^./%>
                          <%= @favorite_user.email.match(first_letter_email)[0]%>...<%=@favorite_user.email.match(regex_after_arobase)[0] %>
                        <% end %>
                      <% else%>
                        <%= @favorite_user.email%>
                      <% end%>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="separator"></div>
              <div class="profile-experiences">
                <div>
                  <p><%= @favorite_user.experiences.last.postname %> chez <%= @favorite_user.experiences.last.firm %></p>
                  <p>" <%= @favorite_user.description %> "</p>
                </div>
              </div>
            </div>
          </div>





      <% end %>
    </div>
<% else %>
    <p class="no-results">Pas de profils sauvegardés pour le moment</p>
  <% end %>
</div>
