<div>
  <%= simple_form_for @search do |f| %>
    <div class="row">
        <div class="col-md-6">
          <%= f.input :line_of_work, label: "Quelle est votre ligne de métier ?", input_html: { class: 'form-control' }, collection: @lines_of_work, required: true %>
        </div>
        <div class="col-md-6">
          <%= f.input :field, label: "Quel est votre secteur d'activité ?", input_html: { class: 'form-control' }, collection: @fields, required: true %>
        </div>
        <div class="col-md-6">
          <%= f.input :address, label: "Où souhaitez-vous chercher ?", input_html: { class: 'form-control' }, collection: @departments, required: true %>
        </div>
      <div class="text-center mt-4">
        <%= f.submit 'Lancer ma recherche', id: 'bright', class: 'btn btn-primary btn-lg px-4' method: 'POST'%>
      </div>

      <%= f.input :is_offering, as: :hidden %>
      <%= f.input :experience_id, as: :hidden %>
    </div>
  <% end %>
</div>
